.svg-arrow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  transition-property: opacity;
  transition-duration: 0.05s;
}

.svg-arrow path {
  stroke: #e74c3c;
}

.svg-arrow.hidden {
  opacity: 0;
  visibility: hidden;
}
