.editor {
  font-family: "Roboto Mono";
  /* the line height used by JavaScript to determine the height of a glyph */
  line-height: 1.5;
  user-select: none;
}

.editor.editor-focus {
  border-color: #333;
}

.editor .editor-caret {
  height: 22px;
  margin-top: 1px;
  width: 2px;
  background-color: #333;
  display: inline-block;
  position: absolute;
}

.editor .editor-selection {
  background-color: #bad8ec;
}
