.editor {
  font-family: "Roboto Mono";
  /* the line height used by JavaScript to determine the height of a glyph */
  line-height: 1.5;
  user-select: none;
  cursor: text;
  overflow: auto;
}

.editor:focus {
  border-color: #333;
}

.editor .editor-caret {
  height: 22px;
  margin-top: 1px;
  width: 2px;
  background-color: #333;
  display: inline-block;
  position: absolute;
}

/* hack so that the carent doesn't affect the flow */
.editor .editor-caret-parent {
  position: relative;
}

.editor .editor-selection {
  background-color: #bad8ec;
}
